.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 400px;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #888;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  box-shadow: none;
}

.input-group {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}
